.container {
  max-width: 720px;
  margin: 50px auto;
  position: relative;
  padding: 0 25px;
}

.title {
  font-family: "tiempos-headline";
  font-size: 60px;
  margin-bottom: 80px;
}

.subtitle {
  font-family: "tiempos-headline";
  font-size: 30px;
  margin-bottom: 50px;

  @media screen and (min-width: 500px) {
    font-size: 40px;
  }
}

.messages {
  margin-top: 100px;
}

.message {
  margin-bottom: 60px;
}

.messageAuthor {
  font-weight: bold;
}

.messageContent {
  padding: 50px 35px;
  line-height: 1.5;
  background: white;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02),
    0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035),
    0 7.4px 17.9px rgba(0, 0, 0, 0.042), 0 13.8px 33.4px rgba(0, 0, 0, 0.05),
    0 33px 80px rgba(0, 0, 0, 0.07);
  font-family: "tiempos-text";
  font-size: 16px;

  @media screen and (min-width: 500px) {
    font-size: 18px;
  }
}

.messageRelationshipTitle {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 15px;
  font-family: "Colfax";
  color: #7c7024;
}

.messageRelationship {
  position: relative;
  padding: 25px 35px;
  line-height: 1.5;
  background: #f8f5e1;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02),
    0 2.2px 5.3px rgba(0, 0, 0, 0.028), 0 4.1px 10px rgba(0, 0, 0, 0.035),
    0 7.4px 17.9px rgba(0, 0, 0, 0.042), 0 13.8px 33.4px rgba(0, 0, 0, 0.05),
    0 33px 80px rgba(0, 0, 0, 0.07);
  font-family: "Special Elite";
  font-size: 20px;
  line-height: 1.2;

  @media screen and (min-width: 750px) {
    margin-top: -50px;
    transform: rotate(-1deg);
    left: 20px;
    font-size: 22px;
  }
}

.messageGallery {
  margin: 0 -5px;
}

.separator {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #999;
  color: #333;
  text-align: center;
  margin: 100px 0;
  height: 0;
}

.separator:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2em;
  padding: 0 0.25em;
  background: white;
  color: #444;
}
